
@font-face
  font-family 'iconfont'
  src url('~@/assets/fonts/iconfont.woff') format('woff'), url('~@/assets/fonts/iconfont.ttf') format('truetype')
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  /* iOS 4.1- */
.iconfont
  font-family 'iconfont' !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.icon-signout-fill:before
  content '\e650'
.icon-caret-bottom:before
  content '\e6d2'
.icon-language:before
  content '\e66f'
.icon-check-circle:before
  content '\e77d'
.icon-frown:before
  content '\e77e'
.icon-info-circle:before
  content '\e77f'
.icon-minus-circle:before
  content '\e780'
.icon-meh:before
  content '\e781'
.icon-plus-circle:before
  content '\e782'
.icon-question-circle:before
  content '\e783'
.icon-smile:before
  content '\e784'
.icon-time-circle:before
  content '\e785'
.icon-warning-circle:before
  content '\e786'
.icon-sync:before
  content '\e787'
.icon-reloadtime:before
  content '\e789'
.icon-poweroff:before
  content '\e78c'
.icon-setting:before
  content '\e78e'
.icon-eye:before
  content '\e78f'
.icon-location:before
  content '\e790'
.icon-edit-square:before
  content '\e791'
.icon-appstore:before
  content '\e792'
.icon-user:before
  content '\e7ae'
.icon-filesearch:before
  content '\e7b4'
.icon-delete:before
  content '\e7c3'
.icon-home:before
  content '\e7c6'
.icon-cloud-download:before
  content '\e7d9'
.icon-image:before
  content '\e7de'
.icon-error:before
  content '\e7df'
.icon-attachment:before
  content '\e7e1'
.icon-edit:before
  content '\e7e2'
.icon-link:before
  content '\e7e5'
.icon-search:before
  content '\e7e3'
.icon-pushpin:before
  content '\e7e4'
.icon-scissor:before
  content '\e7e6'
.icon-right:before
  content '\e7eb'
.icon-left:before
  content '\e7ec'
.icon-up:before
  content '\e7ed'
.icon-down:before
  content '\e7ee'
.icon-arrow-right:before
  content '\e7ef'
.icon-arrow-up:before
  content '\e7f0'
.icon-arrowleft:before
  content '\e7f1'
.icon-arrow-down:before
  content '\e7f2'
.icon-upload:before
  content '\e7f5'
.icon-menu-uncollapse:before
  content '\e7f3'
.icon-menu-collapse:before
  content '\e7f4'
.icon-font-bold:before
  content '\e7f8'
.icon-font-size:before
  content '\e7f7'
.icon-menu-home:before
  content '\e867'
.icon-cc-mute:before
  content '\e697'
.icon-cc-unmute:before
  content '\e698'
.icon-menu-home-diy:before
  content '\e7d1'
.icon-menu-config-online:before
  content '\e637'
.icon-menu-quality:before
  content '\e638'
.icon-menu-report-online:before
  content '\e639'
.icon-menu-report-voice:before
  content '\e63a'
.icon-menu-system:before
  content '\e63b'
.icon-menu-power:before
  content '\e63c'
.icon-menu-config-common:before
  content '\e63d'
.icon-menu-info-service:before
  content '\e63e'
.icon-menu-config-email:before
  content '\e63f'
.icon-menu-employee:before
  content '\e640'
.icon-menu-report-email:before
  content '\e641'
.icon-menu-flow-query:before
  content '\e642'
.icon-cc-ready:before
  content '\e643'
.icon-cc-monitor:before
  content '\e644'
.icon-cc-skill:before
  content '\e645'
.icon-cc-transfer:before
  content '\e646'
.icon-cc-free:before
  content '\e647'
.icon-menu-config-voice:before
  content '\e648'
.icon-cc-keep:before
  content '\e649'
.icon-cc-reply:before
  content '\e64a'
.icon-cc-wait:before
  content '\e64b'
.icon-cc-check-out:before
  content '\e64c'
.icon-menu-call-out:before
  content '\e64d'
.icon-cc-hang-up:before
  content '\e64e'
.icon-lock:before
  content '\e64f'
.icon-cc-adjust:before
  content '\e868'
.icon-cc-call-out:before
  content '\e869'
.icon-cc-message:before
  content '\e86a'
.icon-notify-fill:before
  content '\e86b'
.icon-cc-check-in:before
  content '\e86c'
.icon-setting-fill:before
  content '\e86d'
.icon-password-fill:before
  content '\e86e'
