.container
	margin 0 auto
	width $page-width
.container-wrap
	position relative
	flex 1
	height 100%
	padding 0
	margin 0
	overflow-y auto
	overflow-x hidden
	box-sizing border-box
	.flex
		display flex
	.title
		height 46px
		border-bottom 1px solid #E8E8E8
		padding-left 20px
		line-height 46px
		color #3A3C3E
		font-size 14px
		font-weight bold
		flex none
		background-color #fafafa;