html,body
	height 100%
.layout-wrap
	display:flex
	flex-direction: column
	min-width: 750px
	width: 100%
	height: 100%
	padding: 0
	overflow: auto
	box-sizing: border-box
.layout-main
	position: relative
	flex: 1
	padding: 20px
	overflow-y: scroll
	overflow-x: hidden
	box-sizing: border-box
