// stylus 全局常量定义
$page-width = 1200px // 页面宽度
$page-height = 100vh // 页面高度
$layout-header-height = 80px // 顶部高度
$layout-nav-height = 80px // 设置导航条高度
// color
$yellow = #FF9004
$gray = #A7A7A7
$orange = #FF6C04
$green = #10AF7E
$red = #FF7362
$red-hover = #EC6352
$gray-hover = #949494
$font-yellow = $orange
$font-000 = #000
$font-333 = #333
$font-666 = #666
$font-96 = #969696
$font-5f = #5F5F5F
$font-a7 = #a7a7a7


$color-primary = #2994FF // 主题色
// color
$SP-LINK-COLOR = $font-000
$SP-LINK-HOVER-COLOR = darken($color-primary, 15%)
$SP-LINK-ACTIVE-COLOR = darken($color-primary, 25%)
// border
$SP-border-radius = 2px
$SP-border-radius-large = 5px
$SP-border-radius-medium = 4px
$SP-border-radius-small = 3px
$SP-border-radius-mini = 2px
$SP-border-radius-circle = 100%
// 布局
/* ************************************
 * 布局相关配置,前缀NI
**************************************** */
$SP-layout-body-bgcolor = #F2F2F2
$SP-layout-aside-bgcolor = #243450
$SP-layout-box-bgcolor = #ffffff
$SP-layout-box-padding = 10px
$SP-layout-logo-border-color = #454D65
$SP-layout-logo-text-color = #A7AFB8
// 容器模块
$SP-layout-border-color = #F2F2F2
$SP-layout-border-radius = 4px
// 顶部
$SP-layout-header-bgcolor-hover = #F2F2F2
$SP-layout-header-text-color = #888888
// 历史记录标签
$SP-layout-bom-history-color = #333333
$SP-layout-bom-history-color-hover = #409EFF
$SP-layout-bom-history-color-active = #409EFF
$SP-layout-bom-history-bgcolor = #ffffff
$SP-layout-bom-history-bgcolor-hover = #F2F2F2
$SP-layout-bom-history-bgcolor-active = #F2F2F2
$SP-layout-bom-history-border-color = #F2F2F2
// 左侧菜单
$SP-layout-menu-color = #A7AFB8
$SP-layout-menu-color-hover = #ffffff
$SP-layout-menu-color-active = #ffffff
$SP-layout-menu-bgcolor = #243450
$SP-layout-menu-border-color = #454D65
$SP-layout-menu-bgcolor-hover = darken($SP-layout-menu-bgcolor, 10%)
$SP-layout-menu-bgcolor-active = darken($SP-layout-menu-bgcolor, 20%)
