.home-wrap
	display flex
	width 100%
	height 100%
	overflow hidden
	box-sizing border-box
	background-color $SP-layout-body-bgcolor
.box-menu
	width 250px
	flex none
	height 100%
	background $SP-layout-box-bgcolor
	overflow-y scroll
	overflow-x hidden
	border-radius $SP-layout-border-radius
	margin-right 10px
	box-shadow 0px 2px 5px 0px rgba(0, 0, 0, 0.04)
.box-body
	position relative
	flex 1
	height 100%
	display flex
	flex-direction column
	.box-home-status
		width 100%
		height 246px
		border-radius $SP-layout-border-radius
		background $SP-layout-box-bgcolor
		box-shadow 0px 2px 5px 0px rgba(0, 0, 0, 0.04)
	.box-home-service
		width 100%
		flex 1
		border-radius $SP-layout-border-radius
		background $SP-layout-box-bgcolor
		box-shadow 0px 2px 5px 0px rgba(0, 0, 0, 0.04)
