/**
* 去掉一些浏览器自带的样式，设置一些自己的全局样式
*/

@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $--scrollbar-default;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $--scrollbar-hover;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  // &::-webkit-scrollbar-track:hover {
  //   background-color: #f8fafc;
  // }
}

html {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, "PingFang SC", sans-serif;
    background-color: $--color-white;

    * {
      @include base-scrollbar;
    }
  }
}
