.wrap
	height 100%
	.form-wrap
		padding 20px
	.border-bottom
		border-bottom 1px solid #d1dbe5
	h2,.notice-span
		height 60px
		line-height 60px
		text-align center
		font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
	.notice-span
		span
			font-family "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
			font-size 13px
			color #000
	.notice-div
		padding 20px



