.container-wrap
	width 100%
	height 100%
	box-sizing border-box
	padding $SP-layout-box-padding
	.box-body
		overflow hidden
		background $SP-layout-box-bgcolor
		border-radius $SP-layout-border-radius
		width 100%
		height 100%
		.form-wrap
			padding 20px
