.home-wrap.logger-container-wrap
	display flex
	width 100%
	height 100%
	overflow hidden
	box-sizing border-box
	background-color $SP-layout-body-bgcolor
	.box-menu
		width 250px
		flex none
		height 100%
		background $SP-layout-box-bgcolor
		overflow-y scroll
		overflow-x hidden
		border-radius $SP-layout-border-radius
		margin-right 10px
		box-shadow 0px 2px 5px 0px rgba(0, 0, 0, 0.04)
		display flex
		flex-direction column
		.menu-title
			height 46px
			border-bottom 1px solid #E8E8E8
			padding-left 20px
			line-height 46px
			color #3A3C3E
			font-size 14px
			font-weight bold
			flex none
		.menu-con
			flex 1
			overflow auto
			padding 20px 12px
	.box-body
		flex 1
		display flex
		flex-direction column
		height 100%
		border none
		border-radius $SP-layout-border-radius
		//padding 6px 12px
		background $SP-layout-box-bgcolor
		box-shadow 0px 2px 5px 0px rgba(0, 0, 0, 0.04)
		.el-tabs__header
			padding 6px 0px 0 12px
			margin 0
		.el-tabs__content
			height 0
			flex 1
			.el-tab-pane
				height 100%



